/* import style */
@import url(../style.css);

/* Style of the html, body tags and the container class */
html, body, .container {
  overflow: hidden;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  place-content: center center;
  background-color: #160b30;
  background-image: url("./image/background.png");
}

.nav-back {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
}

/* canvas tag style by id */
#renderCanvas {
  image-rendering: pixelated;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  touch-action: none;
}