/* Home Page */
.home {
    background: url('../images/sulivan-lake.jpg') no-repeat bottom center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* About Me Body */
.about {
    background-image: url('../images/anime-sakura.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-self: center;
}
  
/* Main Container */
main {
    margin-top: 2em;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 2em;

    /* centers container to page */
    margin-inline: auto;
    
    max-width: 30em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MyPhoto {
    border-radius: 10px;
}
  