/* Home Page */
.home {
    background: url('../images/sulivan-lake.jpg') no-repeat bottom center fixed;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

#page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
}

/* Home Page Bottons */
.button-container a{
    height: 450px;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    font-size: 2.7em;
    text-decoration: none;
    font-family: Impact, Haettenschweiler;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.button-container a:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(51, 51, 51);
    transition: 0.5s;
}

.button-container a:active{
    background-color: rgba(29, 210, 255, 0.2);
    color: white;
    transition: 0.5s;
}

/* About Me Body */
.about {
    background-image: url('../images/anime-sakura.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-self: center;
}
  
/* Main Container */
main {
    margin-top: 2em;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 2em;

    /* centers container to page */
    margin-inline: auto;
    
    max-width: 30em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MyPhoto {
    border-radius: 10px;
}
  